name: 'Release Notes Merge Action'
on:
  workflow_dispatch:
    inputs:
        release_tag:
          description: 'Tag of release just built.'
          required: true
          default: 'true'
        new_frontend_tag:
          description: 'New frontend tag'
          required: false
          default: ''
    
jobs:
  merge-and-release:
    runs-on: ubuntu-latest
    steps:  
      - uses: music-assistant/release-notes-merge-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          release_tag: ${{ inputs.release_tag }}